doctype html
html
  head
    title My Serverless Application
    style.
      body {
        width: 650px;
        margin: auto;
      }
      h1 {
        text-align: center;
      }
      .resources > h2 {
        margin-bottom: 0;
      }
      .resource > h3, .resource > p {
        display: inline-block;
        margin-bottom: 0.5rem;
      }
      .resource > code {
        display: block;
        background-color: #eff0f1;
        color: #393318;
        padding: 5px;
        font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
        white-space: nowrap;
        overflow-x: auto;
      }
      .sam-logo {
        display: block;
        width: 20rem;
        margin: auto;
      }
      form {
        margin-bottom: 1rem;
      }
      .form-group {
        padding-bottom: 1rem;
      }
      label {
        display: block;
      }
  body
    h1 Welcome to Day One Space Tours
    img.sam-logo(src='mars.jpg')
